description = "Форма заказа"

[viewBag]
==
<div class="clearfix"></div>
<div class="card-main">
	<div id="getorder">
		{% if success_form_btm %}
			<div class="col-md-12 col-sm-12 col-xs-12 bgc-w our-ad">
			<h1>Спасибо за Вашу заявку.<br>Наш специалист свяжется с Вами в ближайшее время.</h1>
			{% else %}
			{{ form_ajax('Catalogs::onSendMail2', {
					class: 'form-horizontal',
					update: { 'site/formajax': '#getorder' }
				}) }}
			<div class="col-md-12 col-sm-12 col-xs-12 bgc-w our-ad">
			<h3>Закажите бесплатную консультацию</h3>
			<p>и наш специалист свяжется с Вами в ближайшее время!</p>
				<div class="col-sm-offset-1 col-sm-10">
					<div class="form-group">
						<div class="col-sm-6">
							<input type="name" name="name" required class="form-g-inp btn-block" id="inputEmail3" placeholder="Ваше имя">
						</div>
						<div class="col-sm-6">
							<!-- <input type="tel" name="telephone" minlength="11" maxlength="11" pattern="^[ 0-9]+$" required class="form-g-inp btn-block" id="inputPassword3" placeholder="Номер телефона* (79995556611)"> -->
							<!-- <input type="tel" name="telephone" class="input-medium bfh-phone form-g-inp btn-block" required pattern=".{16,}" placeholder="8 (___) ___-__-__" data-format="d (ddd) ddd-dddd"> -->
							<input type="tel" name="telephone" required pattern=".{16,}" placeholder="+_ (___) ___-__-__" id="user_phone" class=" form-g-inp btn-block user-phone" title="Формат: +7 (096) 999 99 99"/>
						</div>
					</div>
					<div style="text-align:left;padding: 0 15px;" class="form-group">
						<div>
							<input required checked name="someSwitchOption001" type="checkbox"/>
							<label for="someSwitchOptionSuccess" class="label-success"></label>
							Я принимаю <a class="fancybox" data-fancybox="" data-type="iframe" data-src="/politika-konfidencialnosti" style="text-decoration: none;cursor: pointer;">условия передачи данных</a>
						</div>
					<button style="width: 100%;margin-top:15px;" type="submit" class="form-g-bt g-btn btn-block btn_submit" >Заказать</button>
				</div>
			{{ form_close() }}
			{% endif %}
		</div>
	</div>
</div>
<div class="clearfix"></div>