description = "Наши приемущества"
==
<div class="col-md-12 bgc-w our-ad">
		<h3>Наши преимущества</h3>
		<div class="row">

			<div class="col-sm-3 col-md-3 col-xs-12">
				<div id="o-ad" class="thumbnail">
					<i class="gms-i g-one"></i>
					<div class="caption">
						<p>Только качественные товары</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-md-3 col-xs-12">
				<div id="o-ad" class="thumbnail">
					<i class="gms-i g-two"></i>
					<div class="caption">
						<p>Быстро и удобно</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-md-3 col-xs-12">
				<div id="o-ad" class="thumbnail">
					<i class="gms-i g-three"></i>
					<div class="caption">
						<p>Товар в наличии</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-md-3 col-xs-12">
				<div id="o-ad" class="thumbnail">
					<i class="gms-i g-four"></i>
					<div class="caption">
						<p>Монтаж</p>
					</div>
				</div>
			</div>

		</div>
	</div>