description = "Работать с нами"
==
<div class="card-main-10">
		<h3>Работать с нами ЛЕГКО и ПРОСТО</h3>

		<div class="card-main">
			<div class="">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-2 col-xs-4 col-sm-3">
							<i class="gms-i-a g-tel"></i>
						</div>
						<div class="col-md-10 col-xs-8 col-sm-9">
							<p class="with-us-p">Звонок/письмо нам и мы уже вас консультируем!</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-2 col-xs-4 col-sm-3">
							<i class="gms-i-a g-car"></i>
						</div>
						<div class="col-md-10 col-xs-8 col-sm-9">
							<p class="with-us-p">Наш специалист едет к вам на замер и демонстрацию прибора – <span>БЕСПЛАТНО</span></p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-2 col-xs-4 col-sm-3">
							<i class="gms-i-a g-tel"></i>
						</div>
						<div class="col-md-10 col-xs-8 col-sm-9">
							<p class="with-us-p">Вы согласны – наш специалист доставляет/монтирует Вам изделия</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-2 col-xs-4 col-sm-3">
							<i class="gms-i-a g-pay"></i>
						</div>
						<div class="col-md-10 col-xs-8 col-sm-9">
							<p class="with-us-p">Вы принимаете изделия и оплачиваете</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-2 col-xs-4 col-sm-3">
							<i class="gms-i-a g-ach"></i>
						</div>
						<div class="col-md-10 col-xs-8 col-sm-9">
							<p class="with-us-p">Мы осуществляем <span>ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ</span> 5-ЛЕТ и после гарантийный сервис</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>