==
{% if success %}
 <h1>Ваш заказ оформлен, скоро с Вами свяжутся</h1>
 {% else %}
 {{ form_ajax('Catalogs::onComplete', {
        class: 'contact-form well',
        update: { 'modal/order_chekout': '#checku' }
    }) }}
  <div class="form-group">
    <input type="text" name="name" style="width:100%;" class="form-g-inp btn-blockl" required id="exampleInputEmail1" placeholder="Ваше имя">
  </div>
  <div class="form-group">
  	<!-- <input type="tel" name="telephone" class="input-medium bfh-phone form-g-inp btn-block" required pattern=".{16,}" placeholder="8 (___) ___-__-__" data-format="+d (ddd) ddd-dddd"> -->
  	<input type="tel" name="telephone" required pattern=".{16,}" placeholder="+_ (___) ___-__-__" id="user_phone" class="form-g-inp btn-block user-phone" title="Формат: +7 (096) 999 99 99"/>
  </div>
  <div class="form-group">
    <input type="email" name="email" style="width:100%;" class="form-g-inp btn-blockl" required id="exampleInputPassword1" placeholder="E-mail">
  </div>
  <div style="margin-left:15px;text-align:left;" class="form-group">
		<input required checked name="someSwitchOption001" type="checkbox"/>
		<label for="someSwitchOptionSuccess" class="label-success"></label>
		Я принимаю <a class="fancybox" data-fancybox="" data-type="iframe" data-src="/politika-konfidencialnosti" style="text-decoration: none;cursor: pointer;">условия передачи данных</a>
	</div>
  <button  type="submit" class="form-g-bt g-btn btn-block btn_submit">Оформить</button>
 {{ form_close() }}
 {% endif %}