[viewBag]
==
<footer class="card-main-10 footer">
<hr>
<div class="col-md-5 col-sm-12 col-xs-12 logo-adress">
<a href="{{ 'home'|page }}">
	<img src="/themes/vozduhvdome/assets/images/logo.png" width="93%" alt="">
</a>
	<p>
		193230, г. Санкт-Петербург, пер. Челиева, д. 17, +7 (812) 309-95-35
		<br>
	</p>
	<hr>
</div>
<div class="menu-l col-md-2 col-sm-4 col-xs-12">
	<h3 class="fhminu">КАТАЛОГ</h3>
	<ul class="list-unstyled">
		<li><a href="/catalog/pritochno-vytyazhnaya-ventilyaciya">Приточно-вытяжная вентиляция</a></li>
		<li><a href="/catalog/pritochnaya-ventilyaciya">Приточная вентиляция</a></li>
		<li><a href="/catalog/vytyazhnaya-ventilyaciya">Вытяжная вентиляция</a></li>
		<li><a href="/catalog/aksessuary">Аксессуары</a></li>
	</ul>
</div>
<div class="menu-l col-md-2 col-sm-3 col-xs-12">
	<h3 class="fhminu">УСЛУГИ</h3>
	<ul class="list-unstyled">
	    <li><a href="/dostavka-i-oplata">Доставка и оплата</a></li>
		<li><a href="/montazh-rekuperatora">Монтаж рекуператора</a></li>
		<li><a href="/montazh-provetrivatelya">Монтаж проветривателя</a></li>
		<li><a href="/montazh-klapana">Монтаж клапана</a></li>
	</ul>
</div>
<div class="menu-l col-md-3 col-sm-5 col-xs-12">
	<h3 class="fhminu">ГОТОВЫЕ РЕШЕНИЯ</h3>
	<ul class="list-unstyled">
		<li><a href="/catalog/gotovye-resheniya/proekt-ventilyacii-2-kk-50-60-kvm-praktichnoe-reshenie">Квартира 60 м.кв</a></li>
		<li><a href="/catalog/gotovye-resheniya/kottedzh-1-etazh-moshnoe-reshenie">Коттедж 100 м.кв 1 этаж</a></li>
		<li><a href="/catalog/gotovye-resheniya/kottedzh-2-praktichnoe-reshenie">Коттедж 140 м.кв 2 этажа</a></li>
	</ul>
</div>
</footer>

<div class="clearfix"></div>
<div class="card-main copyr">
	<p>	<a target="_blank" href="https://vk.com/vozduhvdome"><i class="fa fa-vk" aria-hidden="true"></i> вконтакте</a></p>
<p>© 2017 Все права защищены</p>
</div>